.half,
.half .container>.row {
  min-height: 100vh;
  height: fit-content;
  padding: 20px;
}

.half .contents {
  background: #f6f7fc;
}

.half .contents,
.half .bg {
  width: 50%;
}


.background {
  background-image: url("https://img.tepcdn.com/img-style/simplecrop_article/32365379.jpg");
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  background-size: cover;
  background-position: center;
}

form {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

.half .contents .form-control,
.half .bg .form-control {
  background-color: white;
  height: 45px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
}

strong,
.error {
  color: #BB0000;
}


.btn-red {
  background-color: #BB0000;
  border: none;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 24px;
}


@media (max-width: 991.98px) {
  .half .bg {
    height: 200px;
  }
}

@media (max-width: 1199.98px) {

  .half .contents,
  .half .bg {
    width: 100%;
  }
}